.projectCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  border-radius: 8px;
  min-width: 400px;
  max-width: 1200px;
  /* height: 30svw; */
  min-height: 300px;
  max-height: 600px;
  background-color: rgb(229 231 235 / 0.1);
  backdrop-filter: blur(5px);
  aspect-ratio: 16 / 1;
}

.projectImageContainer {
  border-radius: 8px 0px 0px 8px;
  flex: 1;
  min-width: 400px;
  max-width: 1200px;
  height: -webkit-fill-available;
}

.projectImage {
  width: 100%;
  height: 100%;
  border-radius: 8px 0px 0px 8px;
  aspect-ratio: 16 / 9;
}

.projectDetails {
  flex: 1;
  align-self: flex-start;
  min-width: 300px;
  /* max-width: 900px; */
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  gap: 10px;
  padding: 20px;

  .projectDescriptionContainer {
    overflow-y: auto;
    max-height: 100%;

    .projectDescription {
      margin: 0;
      font-size: 1.1rem;
      font-weight: 500;
      color: #fff;
    }
  }
  
}

@media screen and (max-width: 900px) {
  .projectCard {
    flex-direction: column;
    gap: 0px;
    max-height: none;
    aspect-ratio: auto;
  }
  .projectImageContainer {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0px 0px;
  }
  .projectImage {
    border-radius: 8px 8px 0px 0px;
    height: auto;
    aspect-ratio: 16 / 9;
  }
  .projectDetails {
    padding: 0px 20px 20px 20px;
  }
}